* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
    --main-color: yellow;
    --second-color: green;
}

html {
    font-size: 62.5%;
}
#headear_nav{
    height: 50px;
    width: 100px;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

header div {}

.d-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 4rem;
    width: 17rem;
    font-family: 'bebas_neueregular';
    border-radius: 4rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.d-btn:hover{
background-color: aqua;
    transition: 0.5s ease-in-out;
}


.main-image {
    width: 100%;
}

.donate{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: -25rem;
  width: 100%;
  margin-right: 0vw;

}

.donate-main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: auto;
    width: 75%;
  }

 .desc{
    display:flex;
    align-items: center;
    justify-self: center;
    height: 8rem;
    width: 50rem;
    background-color: rgb(235, 239, 233);
}



.first-donate-cont {
    background-color: white;
    height: auto;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 .5rem rgba(127, 145, 114, 0.321);
    width: 76%;
}

.donate-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 75%;
    margin-left: 18rem;
}

.desc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 50rem;
    letter-spacing: -2px;
    width: 30vw;
    font-weight: 700;
    font-size: 2.5rem;
    background-color: rgb(232, 235, 234);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 2%;
}

.border {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
}

.description {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-family: 'poppins', sans-serif;
}

.desc-second {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1.5rem;
    text-align: center;
    height: 8vh;
    background-color: rgb(157, 206, 157);
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -0.5px;
}

.donate-main-cont {
    display: grid;
    align-items: center;
    margin-top: 5rem;
    line-height-step: 2;
    background-color: rgb(237, 230, 230);
    border: dashed 1px rgb(174, 172, 172);
}

.desc1 {
    color: var(--second-color);
}

.money-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.money-value button {
    border: 1px solid black;
    font-size: 1.5rem;
    height: 3rem;
    width: 9rem;
    box-shadow: 0 0 .5rem var(--second-color);
}

.donate-main-cont button:hover {
    height: 3.5rem;
    background-color: var(--main-color);
    transition: 0.5s ease-in-out;
    transform: perspective();

}

.money-description {
    margin-top: 8rem;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
}

.childs-img {
    margin-top: 2rem;
}

.childs-img img {
    height: 5rem;
    width: 15rem;

}

.input-amount input {
    border-radius: 1rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    margin-top: 2rem;
    height: 3rem;
    width: 80%;
}

.donate-btn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-info {
    margin-top: 2rem;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}



.about {

    margin-top: 4rem;
}

.about-desc {
    text-align: left;
}

.about-desc1 {
    text-align: left;
}

.about-content {
    font-size: 1.5rem;
}

.about-heading {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -3px;
    margin-left: 12rem;
}

.about-desc1 fieldset {
    border-start-start-radius: 5rem;
margin-top: 2rem;
padding-top: 2rem;
    border: 3px solid var(--main-color);
}

.num,#nu{
    margin-top: -5rem;
    padding-left: 5rem;
    font-size: 4rem;
    letter-spacing: -2px;
}
.about-desc1 fieldset div{
    text-align: right;
    font-size: large;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
    padding-right: 2rem;
}





.video-container {
    display: block;
    margin-top: 2rem;
    background-size: cover;
    background-image: url(back.jpg);
    width: 100%;
    background-position: center;
    height: auto;
    position: relative;
}

.video-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    letter-spacing: -2px;
    line-height: 2;
    background-color: var(--main-color);
    height: 7rem;
    font-family: 'Roboto Condensed', sans-serif;
}










.main-slide-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("backbg.avif");
    height: 100vh;
    width: 100%;
}

.slide-page{
display: grid;
justify-items: auto;
align-items: center;
width: 90%;
height: auto;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 10px;
    border: 5px solid ghostwhite;
    box-shadow: 0px 0px 3px ghostwhite;
}

.slide-container{
display: flex;
flex-direction: column;
align-items: flex-start;


}

.my-siksha-heading{
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -2px;
}
.slide-container-main {
    position: relative;
    width: 100%;
    height: 50vh;
    box-shadow: 0px 0px 3px grey;
    overflow: hidden;
}


.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.slide1 {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 2rem;
    width: 60%;
}

.nav button{
    height: 4rem;
    width: 4rem;
    background-color: white;
    border: none;
}
.nav button img{
    height: 3rem;
    width: 3rem;
}

.slider-heading{
    font-size: large;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.slide p{
    font-family: 'poppins', sans-serif;
}


.event-date{
background-color: yellow;
width: 4rem;
}

.siksha-read{
    align-self:end;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -1.5px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(52, 214, 223);
}











.stories-heading {
    text-align: left;
    margin-top: 5rem;
    font-size: 3rem;
    color: var(--second-color);
    letter-spacing: -2px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.gap a img{
width: 16vw;
height: 25vh;
}

.interventions-main{
    position: relative;
    background-image: url("grainback.jpg");
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.inter-heading-container{
    display: flex;
    position: relative;
    align-items: center;
    height: 15rem;
    margin-top: 4rem;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--main-color);
}
.interventions-heading{
    margin-left: 15rem;
    letter-spacing: -4px;
    font-size: 4rem;
}
.inter-desc-cont{
    margin-top: -4rem;
    position: absolute;
    background-color: white;
    height: auto;
    width: 20vw;
}
.inter-desc-cont div{
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
    font-weight: 700;
}

.servay-container{
    position: relative;
    background-image: url(servayimg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.servay-desc{
    position: absolute;
    color:white ;
    margin-top: 11rem;
    margin-left: 11rem;
    border: 2px solid white;
    height: 47vh;
    width: 39vw;
}

.servay-desc div{
font-size: 3rem;
font-weight: 800;
font-family: 'Roboto Condensed', sans-serif ;
margin-top: 3rem;
margin-left: 2rem;
}

.servay-desc li{
    font-size: medium;
    margin-left: 5rem;
    font-family:  'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.servay-desc a{
    text-decoration: none;
    font-family:  'Roboto Condensed', sans-serif;
    color: var(--main-color);
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight:600;
    letter-spacing: -0.5px;
}

.footer-main{
    padding-top: 3rem;
    background-color: black;
    height: 25vh;
    width: 100%;
}
.footer-inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12vw;
    background-color: white;
    height: 10rem;
    width: 75%;
}
.to-top{
    display: block;
    text-decoration: none;
    font-size: medium;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 2rem;
    text-align: center;
    color: white;
}
.footer-logo{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-family:'Roboto Condensed', sans-serif ;
}

.footer-logo a{
    height: 2rem;
    text-decoration: none;
}

.footer-logo a:hover{
  transition: ease-in-out 0.5s;
    border-radius: 25px;
    box-shadow:0 0 2rem aqua;
    background-color: aqua;
}

.footer-inside-content2{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-family:'Roboto Condensed', sans-serif ;
    margin-right: 2rem;
}

.footer-inside-content2 div{
    text-align: center;
    border-radius: 2rem;
    color: black;
    letter-spacing: -0.5px;
    background-color: var(--main-color);
    font-family:'Roboto Condensed', sans-serif;
}

.footer-inside-content2 div a{
    text-decoration: none;
    font-family:'Roboto Condensed', sans-serif;
}